# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 042a6f2040c7da3a33ba370e546e1e419952b5a0dc107864521f4261d046eaa275515563163f77fda00b7d6e4cbed8f65abeb5043d0ef4222358e8fd22760fa7

test:
  secret_key_base: ec495a044e87d063f807049424c4e3562886894480c60875e49ace21c01ef013a9eff203c1c812f377aed05f6db16dac0c0e2604d60946ae870497108a6ec3c1
